html {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1080px;
}

.text {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 111px;
}